/* This file contains additional CSS. */

header img {
  width: 50%;
}

@media screen and (max-width: 980px) {
  header img {
    width: 80%;
  }
}

/* Meet The Board */

.board__group img {
  width: 250px;
}

.board__group p {
  margin: 0;
}

.board__group h3 {
  margin: 0;
}

.board .board__group {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  line-height: 1.2em;
  margin: 20px;
}

/* Get Involved */
.involved__group {
  border-bottom: none;
}

.involved__group img {
  width: 50px;
  display: inline-block;
}

.involved__group p {
  width: 200px;
  margin: 0;
  margin-left: 10px;
}

.involved__group h3 {
  width: 200px;
  margin: 0;
  margin-left: 10px;
}

.involved__sub {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.fb-page {
  height: 300px;
}

#three .container .content {
  text-align: left;
  display: inline-block;
  width: 300px;
}

#three .container {
  text-align: center;
}
